html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ececec;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-size: 2.3rem;
  line-height: 2.8rem;
  font-weight: 500;
  margin: 0;
  color:#272727;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.8rem;
  font-weight: 300;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0;
  font-weight: 100;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 0px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}


/* ---- components ---- */

button {
  width: 100%;
  padding: 0px 15px;
  height: 45px;
  font-size: 16px;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid black;
  border-radius: 30px;   
  color: black;

}

button:disabled {
  background-color: rgb(161, 161, 161);
  border: 1px solid rgb(192, 192, 192);
}

button {
  background-color: #FF865A;
  border: 1px solid rgb(247, 117, 70);
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  cursor:pointer;
  text-decoration:none;
}
button:hover {
  transform: scale(1.02);
  transition: all .2s ease-in-out;
}

button:focus {
  outline: none;
}

.btn-update {
  width: 60%;
  padding: 0px 15px;
  height: 35px;
  font-size: 16px;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid black;
  border-radius: 30px;   
  color: black;
}


@media (min-width: 768px) {
  .btn-update {
    width: 50%;;
  }
}

.btn-delete {
  width: 60%;
  padding: 0px 15px;
  height: 35px;
  font-size: 16px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(211, 70, 70);
  border-radius: 30px;   
  color: black;
}

@media (min-width: 768px) {
  .btn-delete {
    width: 50%;;
  }
}
/* ---- Form ---- */

form.form-content {
  width: 100%;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 0px 15px;
  height: 45px;
  font-size: 16px;
  margin-bottom: 12px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid black;
  border-radius: 30px;   
  color: black;
  cursor:pointer;
}

input::placeholder {
  color: black;
  font-weight: 300;
}

input:focus {
  outline: none;
  font-size: 16px;
  border: 2px solid black;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
} 

.select select {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  width: 100%;
  height: 45px;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 1px solid black;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: black;
    border: 2px solid black;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select_arrow {
  position: absolute;
  top: 18px;
  right: 15px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: black transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-top-color: black;
}
.select select:disabled ~ .select_arrow {
  border-top-color: black;
}

@media (min-width: 768px) {
  form.form-content {
    width: 46%;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  form.form-content {
    width: 33%;
    margin: 0 auto;
  }
}

/* ---- Nav ---- */

.top-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: white;
  border-bottom: 1px solid #c3c3c3;
  box-shadow: 1px 1px 5px #7171712b;
  z-index: 10;
}

@media (min-width: 768px) {
  .top-nav-container {
    padding: 0 30px;
  }
}

@media (min-width: 1280px) {
  .top-nav-container {
    padding: 0 40px;
  }
}

.logo {
  display: flex;
  margin: 0;
  
}

.top-nav-container .logo img {
  height: 35px;
}

.nav-content a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}


/* ---- Dashboard ---- */

.container-dashboard {
  width: 100%;
  height:100vh;
  padding-top: 90px;
}

.content-section { 
  padding: 0 20px 0px;
}

@media (min-width: 768px) {
  .content-section { 
    padding: 0 30px 0px;
  }
}

@media (min-width: 1280px) {
  .content-section { 
    padding: 0 40px 0px;
  }
}

.title-page {
  border-bottom: 1px solid #a9a9a9;
  margin-bottom: 25px;
}


/* ---- Cards section ---- */

.container-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-cards a {
  width: 100%;
  margin-bottom: 25px;
  text-decoration: none;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;
  background-color: #FF865A;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  box-shadow: 2px 2px 10px #00000047;
  color: white;
}

.cards:hover {
  transform: scale(1.02);
  transition: all .3s ease-in-out;
}

.card-1 {
  background: linear-gradient(-45deg, #52A8FF, #FF865A);
}
.card-2 {
  background: linear-gradient(-45deg, #5AD8BB, #52A8FF);
}
.card-3 {
  background: linear-gradient(-45deg, #FFC081, #5AD8BB);
}

@media (min-width: 768px) {
  .container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .container-cards a {
    width: 48%;
    margin-bottom: 40px;
    text-decoration: none;
  }

  .cards {
    height: 25vh;
  }

  .cards:hover {
    transform: scale(1.02);
    transition: all .3s ease-in-out;
  }

}

@media (min-width: 1280px) {
  .container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .container-cards a {
    width: 32%;
    margin-bottom: 40px;
    text-decoration: none;
  }

  .cards {
    height: 25vh;
  }

  .cards:hover {
    transform: scale(1.02);
    transition: all .3s ease-in-out;
  }

}

.cards-employee {
  width: 100%;
  background-color: white;
  margin-bottom: 25px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  box-shadow: 2px 2px 10px #0000001e;
}

.border {
  border-bottom: 1px solid #a9a9a9;
  margin: 10px 0 10px 0;
}

@media (min-width: 768px) {
  .container-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

  .cards-employee {
    width: 48%;
    background-color: white;
    margin-bottom: 25px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    box-shadow: 2px 2px 10px #0000001e;
  }
}

@media (min-width: 1280px) {
  .container-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
}

  .cards-employee {
    width: 30%;
    background-color: white;
    margin: 20px;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #0000001e;
  }
}


/* ---- Search ---- */

.result {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}